<template>
  <div class="mrv table-responsive border rounded px-2">
    <div v-for="port in mrvPorts.filter(port => port.id >= min && port.id < max)" :key="port.id" :class="'row' + port.id % 2">
      <div :class="'port-container ' + (port.id % 2 !== 0 ? 'reverse' : '')">
        <div :class="'text-center ' + (port.link ? 'text-success' : '')">{{ port.id + 1 }}</div>

        <div :class="'port-info ' + (partnerHint.includes(port.id) ? 'highlightPartner' : '') + ' ' + (portSelected !== null && portSelected.id === port.id ? 'portSelect' : '')"
            :style="port.partner !== null ? 'background: ' + color(port.id, mrvPorts[port.partner].id) : ''"
            v-on:click="selectPort(port.id)"
            v-on:mouseover="showHighlight(port.id)"
            v-on:mouseleave="hideHighlight()"
          >
          <div>
            <strong>{{ port.name }}</strong>
          </div>

          <div v-if="port.partner !== null">
            P: {{ port.partner + 1 }}
          </div>

          <div v-if="port.taps.length !== 0">
            T: {{ port.taps.join(', ') }}
          </div>

          <div :class="port.speed === 1000 ? 'text-success' : port.speed === 100 ? 'text-warning' : 'text-danger'">
            {{ port.speed }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { generateColor } from '@/utils'

export interface MrvPort {
  id: number;
  name: string;
  link: boolean;
  speed: number;
  partner: number|null;
  taps: Array<number>;
}

export default {
  props: {
    mrvPorts: Array,
    min: Number,
    max: Number,
    portSelected: Object,
    partnerHint: Array,
    selectPort: Function,
    showHighlight: Function,
    hideHighlight: Function
  },

  methods: {
    color (id1: number, id2: number) {
      return generateColor(id1, id2)
    }
  }
}
</script>

<style scoped lang="scss">
.mrv {
  display: grid;
  grid-template-columns: repeat(18, auto);
  grid-gap: 1px;
}

.port-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.port-info {
  border: 1px solid #ddd;
  padding: 0 2px;
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row0 {
  grid-row: 1
}

.row1 {
  grid-row: 2
}

.reverse {
  flex-direction: column-reverse;
}

.highlightPartner {
  box-shadow: 0 0 0 1px #000;
}

.portSelect {
  border: 1px solid #007bff;
}
</style>
