<template>
  <b-container fluid class="mt-3">
    <MrvSwitch
      :mrvPorts="mrvPorts"
      :min="0"
      :max="36"
      :portSelected="portSelected"
      :partnerHint="partnerHint"
      :selectPort="selectPort"
      :showHighlight="showHighlight"
      :hideHighlight="hideHighlight"
    />

    <MrvSwitch
      :mrvPorts="mrvPorts"
      :min="36"
      :max="72"
      :portSelected="portSelected"
      :partnerHint="partnerHint"
      :selectPort="selectPort"
      :showHighlight="showHighlight"
      :hideHighlight="hideHighlight"
    />

    <b-card v-if="portSelected !== null" class="mb-3" :title="portSelected.name">
      <b-row>
        <b-col cols="3">ID</b-col>
        <b-col cols="2">{{ portSelected.id }}</b-col>
      </b-row>

      <b-row>
        <b-col cols="3">Link</b-col>
        <b-col cols="2">{{ portSelected.link ? 'Online' : 'Offline'}}</b-col>
      </b-row>

      <b-row>
        <b-col cols="3">Partner</b-col>
        <b-col cols="2">
          {{ portSelected.partner === null ? 'None' : portSelected.partner }}
        </b-col>

        <b-col>
          <b-button v-if="!changePartner" size="sm" variant="warning" v-on:click="changePartner = true">Change</b-button>
          <span v-if="changePartner">
            <span class="text-info mr-2">Select another port to change the partner.</span>
            <b-button size="sm" variant="danger" v-on:click="changePartner = false">Cancel</b-button>
          </span>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="3">Taps</b-col>
        <b-col cols="2">{{ portSelected.taps.join(', ') }}</b-col>
      </b-row>

      <b-row>
        <b-col cols="3">Speed</b-col>
        <b-col cols="4">{{ portSelected.speed }} mbps</b-col>
      </b-row>

      <b-card v-if="portSelected.partner !== null" :title="'Partner: ' + mrvPorts[portSelected.partner].name" class="mt-3">
        {{ mrvPorts[portSelected.partner] }}
      </b-card>
    </b-card>

    <b-card title="Help" class="mb-3">
      <ul>
        <li>Hover over a port to highlight the port pair (if any)</li>
        <li>Click a port to show more port information</li>
        <ul>
          <li>Click <code>change</code> to change the port pair</li>
        </ul>
      </ul>
    </b-card>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import MrvSwitch, { MrvPort } from '@/components/MrvSwitch.vue'
import { SERVER } from '@/variables'

interface Data {
  portSelected: MrvPort|null;
  partnerHint: Array<number>;
  changePartner: boolean;
}

export default Vue.extend({
  components: {
    MrvSwitch
  },

  data (): Data {
    return {
      portSelected: null,
      partnerHint: [],
      changePartner: false
    }
  },

  computed: {
    mrvPorts (): Array<MrvPort> {
      // TEMP --- move to data() and use mounted() when server in place
      return this.createMrvTable()
    }
  },

  mounted () {
    console.log(SERVER)
    /*
    fetch(SERVER + '/mrv')
      .then(response => {
        return response.json()
      })
      .then(data => {
        console.log(data);
        this.mrvPorts = data
      })
      .catch(err => {
        console.error(err)
      });
    */
  },

  methods: {
    createMrvTable (): Array<MrvPort> {
      // Example json
      const mrvPorts: Array<MrvPort> = []
      for (let i = 0; i < 72; i++) {
        mrvPorts.push({
          id: i,
          link: i % 2 === 0,
          name: 'port' + (i + 1),
          speed: (i + 1) % 2 ? 1000 : 100,
          partner: (i + 1) % 2 ? i + 1 : i - 1,
          // partner: 71 - i,
          // partner: Math.floor(Math.random() * 72),
          taps: [42]
        })
      }

      return mrvPorts
    },

    selectPort (id: number) {
      if (this.portSelected !== null && this.portSelected.id === id) {
        // deselect same port
        this.deselectPort()
      } else if (this.changePartner && this.portSelected !== null) {
        this.setPartners(this.portSelected.id, id)
      } else {
        this.portSelected = this.mrvPorts[id]
      }
    },

    deselectPort () {
      this.changePartner = false
      this.portSelected = null
    },

    setPartners (id1: number, id2: number) {
      // TODO do server-side, then update table (either by just calling the server or with a socket)
      /*
      fetch(SERVER + '/change', {
        method: 'POST',
        body: JSON.stringify([id1, id2])
      })
      .then(response => {
        return response.json()
      })
      .then(data => {
        console.log(data);
      })
      .catch(err => {
        console.error(err)
      });
      */

      const port1 = this.mrvPorts[id1]
      const port2 = this.mrvPorts[id2]

      if (port1.partner !== null) {
        this.mrvPorts[port1.partner].partner = null
      }

      if (port2.partner !== null) {
        this.mrvPorts[port2.partner].partner = null
      }

      port1.partner = port2.id
      port2.partner = port1.id

      this.showHighlight(id1)
      this.deselectPort()
    },

    hideHighlight () {
      this.partnerHint = []
    },

    showHighlight (id: number) {
      this.partnerHint = [id]
      const partner = this.mrvPorts[id].partner
      if (partner !== null) {
        this.partnerHint.push(this.mrvPorts[partner].id)
      }
    }
  }
})
</script>

<style scoped lang="scss">
</style>
